.footer_main_container
{
    background-color: var(--dark-theme-header-background);
    margin-top: -3px;
    width : 100%;
    padding : 10px 0px 10px 0px;
}
.footer_main_icon_container
{
    width: 100%;
    display: flex;
    padding: 15px 0px;
    align-items: center;
    justify-content: center;
}
.footer_main_icon
{
    width: 30px;
    height : 30px;
    color : var(--black-150);
    transition: 0.5s all ease-in-out !important;
}
.footer_main_icon:hover
{
    color: var(--blue-400);
}
.footer_main_icon
{
    color : var(--black-500);
}
.footer_main_info
{
    display: flex;
    justify-content: center;
    padding : 10px 0px;
    font-family: var(--inter-text);
    font-weight: 500;
    color: var(--black-400);
    letter-spacing: 0.040rem;
}