.form_main_container
{
    width : 100%;
    padding : 100px 20px 100px 20px;
}
.form_heading
{
    text-align: center;
    color: var(--text-black);
    font-family: 'Montserrat';
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.030rem;
}
.form_heading_line
{
    margin : 0px 0px 0px 5px;
    width : 50px;
    border-bottom: 3px solid black;
}
.form_info
{
    padding : 20px 0px;
    text-align: center;
    color: var(--text-black);
    font-family: 'Montserrat';
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.030rem;
}
.form_container
{
    margin : 15px 0px;
}
.form_label
{
    padding : 5px 0px;
    color: var(--text-black);
    font-family: 'Montserrat';
    font-size: 0.850rem;
    font-weight: 500;
    letter-spacing: 0.030rem;
}
.form_text_area
{
    margin : 10px 0px 10px 0px;
    border : 1px solid rgb(214, 213, 213);
    height : 95px;
    width : 100%;
    padding : 8px 7px;
    font-family: 'Roboto';
    font-size: 0.940rem;
    letter-spacing: 0.030rem;
    border-radius: 5px;
    color : rgb(36, 35, 35);
    transition: 0.5s all ease-in-out;
}
.form_text_area::placeholder
{
    color : rgb(165, 165, 165);
    font-size: .800rem;
    letter-spacing: 0.040rem;
}
.form_text_area:focus
{
    outline: none;
    border : 1px solid rgb(72, 141, 231);
}
.form_text_area:hover
{
    border : 1px solid rgb(72, 141, 231);
}
.form_text_area_error
{
    margin : 20px 0px;
    border : 1px solid rgb(216, 16, 16);
    height : 45px;
    width : 100%;
    padding : 0px 7px;
    font-family: 'Roboto';
    font-size: 0.940rem;
    letter-spacing: 0.030rem;
    border-radius: 5px;
    color : rgb(36, 35, 35);
    transition: 0.5s all ease-in-out;
}
.form_text_area_error:focus{
    outline: none;
}
.form_input_field
{
    margin : 20px 0px;
    border : 1px solid rgb(214, 213, 213);
    height : 45px;
    width : 100%;
    padding : 0px 7px;
    font-family: 'Roboto';
    font-size: 0.940rem;
    letter-spacing: 0.030rem;
    border-radius: 5px;
    color : rgb(36, 35, 35);
    transition: 0.5s all ease-in-out;
}
.form_input_field::placeholder
{
    color : rgb(165, 165, 165);
    font-size: .800rem;
    letter-spacing: 0.040rem;
}
.form_input_field:focus
{
    outline: none;
    border : 1px solid rgb(72, 141, 231);
}
.form_input_field:hover
{
    border : 1px solid rgb(72, 141, 231);
}
.form_input_field_error
{
    margin : 20px 0px;
    border : 1px solid rgb(216, 16, 16);
    height : 45px;
    width : 100%;
    padding : 0px 7px;
    font-family: 'Roboto';
    font-size: 0.940rem;
    letter-spacing: 0.030rem;
    border-radius: 5px;
    color : rgb(36, 35, 35);
    transition: 0.5s all ease-in-out;
}
.form_input_field_error:focus{
    outline: none;
}
.form_input_error
{
    padding : 0px 5px;
    color: var(--text-error);
    font-family: 'Montserrat';
    font-size: 0.650rem;
    font-weight: 500;
    letter-spacing: 0.030rem;
}
.form_forgot_password
{
    text-align: right;
    padding : 10px 3px 10px 0px;
    color: var(--text-blue);
    font-family: 'Montserrat';
    font-size: 0.880rem;
    font-weight: 500;
    letter-spacing: 0.040rem;
}
.form_btn
{
    border : none;
    width : 100%;
    margin : 20px 0px;
    border-radius: 5px;
    height : 45px;
    background-color: var(--text-blue);
    color : white;
    font-family: 'Montserrat';
    font-size: 0.880rem;
    font-weight: 500;
    letter-spacing: 0.040rem;
    transition: 0.5s all ease-in-out;
}
.form_btn:focus{
    outline: none;
}
.form_btn:hover
{
    cursor: pointer;
    background-color: rgb(24, 112, 212);
    box-shadow : 0 4px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
}
.form_having_account
{
    text-align: center;
    padding : 15px 0px;
    color: var(--text-black);
    font-family: 'Montserrat';
    font-size: 0.880rem;
    font-weight: 500;
    letter-spacing: 0.040rem;
}
.form_having_account a
{
    padding-left: 5px;
    color : var(--text-blue);
    text-decoration: none;
}
.form_having_account a:focus{
    text-decoration: none;
}

.form_error
{
    margin : 5px 0px;
    background-color: rgb(245, 220, 220);
    color : red;
    padding : 10px 15px;
    font-family: 'Montserrat';
    font-size: 0.820rem;
    font-weight: 500;
    letter-spacing: 0.040rem;
    transition: 0.5s all ease-in-out;
}

@media(max-width:750px){
    .form_main_container{ padding: 100px 2px; }
}