.form_main_container
{
    width : 100%;
    padding : 100px 20px 100px 20px;
}
.form_signup_heading
{
    padding : 0px 0px 10px 0px;
    color : var(--black-200);
    text-align: center;
    font-family: var(--inter-text);
    font-size: 0.9rem;
    letter-spacing: 0.040rem;
    font-weight: 500;
}
.form_heading
{
    padding : 5px 0px;
    color: var(--black-200);
    font-family: var(--inter-text);
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.040rem;
}
.form_heading_line
{
    margin: 5px 2px;
    border-top : 3px solid var(--blue-500);
    width: 80px;
}
.form_info
{
    padding : 20px 0px;
    text-align: center;
    color: var(--text-black);
    font-family: 'Montserrat';
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.030rem;
}
.form_container
{
    margin : 15px 0px;
}
.form_label
{
    padding : 5px 0px;
    color: var(--text-black);
    font-family: 'Montserrat';
    font-size: 0.850rem;
    font-weight: 500;
    letter-spacing: 0.030rem;
}
.form_text_area
{
    margin : 10px 0px 10px 0px;
    border : 1px solid rgb(214, 213, 213);
    height : 95px;
    width : 100%;
    padding : 8px 7px;
    font-family: 'Roboto';
    font-size: 0.940rem;
    letter-spacing: 0.030rem;
    border-radius: 5px;
    color : rgb(36, 35, 35);
    transition: 0.5s all ease-in-out;
}
.form_text_area::placeholder
{
    color : rgb(165, 165, 165);
    font-size: .800rem;
    letter-spacing: 0.040rem;
}
.form_text_area:focus
{
    outline: none;
    border : 1px solid rgb(72, 141, 231);
}
.form_text_area:hover
{
    border : 1px solid rgb(72, 141, 231);
}
.form_text_area_error
{
    margin : 20px 0px;
    border : 1px solid rgb(216, 16, 16);
    height : 45px;
    width : 100%;
    padding : 0px 7px;
    font-family: 'Roboto';
    font-size: 0.940rem;
    letter-spacing: 0.030rem;
    border-radius: 5px;
    color : rgb(36, 35, 35);
    transition: 0.5s all ease-in-out;
}
.form_text_area_error:focus{
    outline: none;
}
.form_input_field
{
    margin : 20px 0px;
    border : none;
    height : 45px;
    color : var(--black-100);
    width : 100% !important;
    padding : 0px 7px;
    font-family: var(--inter-text);
    font-size: 0.940rem;
    letter-spacing: 0.040rem;
    border-radius: 5px;
    font-weight: 500;
    background-color: var(--black-700);
    transition: 0.5s all ease-in-out;
}
.form_input_field::placeholder
{
    color : var(--black-300);
    font-size: .800rem;
    letter-spacing: 0.040rem;
}
.form_input_field:focus
{
    outline: none;
    color : var(--black-900);
    background-color: var(--blue-100);
}
.form_input_field_error
{
    margin : 20px 0px;
    height : 45px;
    border : none;
    width : 100%;
    padding : 0px 7px;
    font-family: 'Roboto';
    font-size: 0.940rem;
    letter-spacing: 0.030rem;
    border-radius: 5px;
    color : var(--red-600);
    background-color: var(--red-300);
    transition: 0.5s all ease-in-out;
}
.form_input_field_error:focus{
    outline: none;
}
.form_input_error
{
    padding : 0px 5px;
    color: var(--text-error);
    font-family: 'Montserrat';
    font-size: 0.650rem;
    font-weight: 500;
    letter-spacing: 0.030rem;
}
.form_forgot_password
{
    text-align: right;
    padding : 10px 3px 10px 0px;
    color: var(--blue-500);
    font-family: var(--inter-text);
    font-size: 0.920rem;
    font-weight: 500;
    letter-spacing: 0.035rem;
}
.form_btn
{
    border : none;
    width : 100%;
    margin : 20px 0px;
    border-radius: 50px;
    height : 45px;
    background-color: var(--blue-600);
    color : var(--dark-theme-text-dark-white);
    font-family: 'Montserrat';
    font-size: 0.880rem;
    font-weight: 500;
    letter-spacing: 0.040rem;
    transition: 0.5s all ease-in-out;
}
.form_btn:focus{
    outline: none;
}
.form_btn:hover
{
    cursor: pointer;
    background-color: var(--blue-700);
    box-shadow : 0 4px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
}
.form_having_account
{
    text-align: center;
    padding : 15px 0px;
    color: var(--black-400);
    font-family: var(--inter-text);
    font-size: 0.920rem;
    font-weight: 500;
    letter-spacing: 0.040rem;
}
.form_having_account a
{
    padding-left: 5px;
    color : var(--blue-500);
    text-decoration: none;
}
.form_having_account a:focus{
    text-decoration: none;
}

.form_disable_btn
{
    border : none;
    width : 100%;
    margin : 20px 0px;
    border-radius: 50px;
    height : 45px;
    padding : 11px 0px;
    text-align: center;
    background-color: var(--blue-200);
    color : var(--black-800);
    font-family: 'Montserrat';
    font-size: 0.880rem;
    font-weight: 500;
    letter-spacing: 0.040rem;
    transition: 0.5s all ease-in-out;
}

.form_error
{
    margin : 5px 0px;
    background-color: var(--red-400);
    color : var(--dark-theme-text-dark-white);
    padding : 10px 15px;
    font-family: var(--inter-text);
    font-size: 0.840rem;
    border-radius: 6px;
    font-weight: 500;
    letter-spacing: 0.040rem;
    transition: 0.5s all ease-in-out;
}
.form_success
{
    margin : 5px 0px;
    background-color: var(--green-200);
    color : var(--green-950);
    padding : 10px 15px;
    font-family: var(--inter-text);
    font-size: 0.900rem;
    border-radius: 6px;
    font-weight: 500;
    letter-spacing: 0.035rem;
    transition: 0.5s all ease-in-out;
}

.form_date_show
{
    margin : 15px 0px;
    background-color: var(--text-blue);
    color : white;
    border : none;
    width : 140px;
    border-radius: 5px;
    padding : 8px 15px;
    font-family: 'Montserrat';
    font-size: 0.800rem;
    font-weight: 500;
    letter-spacing: 0.040rem;
    cursor: pointer;
}
.form_date_hide
{
    margin : 15px 0px;
    background-color: rgb(235, 61, 61);
    color : white;
    border : none;
    border-radius: 5px;
    max-width : 120px;
    padding : 8px 15px;
    font-family: 'Montserrat';
    font-size: 0.800rem;
    font-weight: 500;
    letter-spacing: 0.040rem;
    cursor: pointer;
}

@media(max-width:770px){
    .form_main_container{ padding: 100px 2px; }
}