.forum_categories_main_container
{
    width : 100%;
    padding : 100px 10px 100px 10px;
}
.forum_categories_main_container a
{
    text-decoration: none;
}
.forum_categories_heading
{
    color: var(--text-black);
    font-family: 'Montserrat';
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.030rem;
}
.forum_categories_create_btn
{
    margin: 15px 0px;
    padding: 8px 15px;
    border : none;
    border-radius: 6px;
    background-color: var(--text-blue);
    color : var(--text-white);
    font-family: 'Montserrat';
    font-size: .800rem;
    font-weight: 500;
    letter-spacing: 0.040rem;
    cursor: pointer;
}
.forum_categories_create_btn:focus
{
    outline: none;
}
.forum_categories_card_container
{
    margin : 25px 0px;
    padding : 15px 10px;
    border : 1px solid rgb(228, 228, 228);
    border-radius: 6px;
    box-shadow: 0 10px 10px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
}
.forum_categories_card_heading
{
    color : var(--text-black);
    font-family: 'Montserrat';
    font-size: 1.1rem;
    font-weight: 600;
}
.forum_categories_card_info
{
    padding : 10px 0px;
    color : var(--text-black);
    font-family: 'Montserrat';
    font-size: 0.800rem;
    line-height: 25px;
    font-weight: 500;
}
.forum_categories_table_container
{
    margin : 50px 0px 50px 0px;
}
.forum_categories_table_heading
{
    background-color: var(--header-background);
    color : var(--text-black);
    /* font-family: 'Montserrat'; */
    color : var(--header-logo-color);
    font-size: 1rem;
    letter-spacing: 0.050rem;
    line-height: 25px;
    font-weight: 400 !important;
}

@media(max-width:750px){
    .forum_categories_main_container{ padding : 100px 2px }
}