/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
} */

/* * {
  box-sizing: border-box;
} */

:root{
  --dark-background : rgb(20, 19, 19);
  --header-background : rgb(36, 36, 36);
  --header-link-color : rgb(156, 155, 155);
  --header-logo-color : whitesmoke;
  --text-white: white;
  --text-blue : rgb(51, 133, 226);
  --text-error : red;
  --text-ligth-dark : rgb(43, 42, 42);
  --text-grey : rgb(156, 155, 155);
  --text-ligth-grey : rgb(180, 178, 178);
  --header-hover-color : rgb(121, 179, 235);
  --text-black : rgb(32, 32, 32);

  /* New dark theme */

  --dark-theme-body-background : #0c0d0e;
  --dark-theme-header-background : #0c0d0e;
  --dark-theme-text-grey : #7f8181;
  --dark-theme-text-light-grey : #9b9b9b;
  --dark-theme-logo-text-color : #0095ff;
  --dark-theme-text-hover : #0095ff;
  --dark-theme-button : #346DFD;
  --dark-them-button-hover : #3062e0;
  --dark-theme-text-white : #D1D4F6;
  --dark-theme-text--dark-white : #e5e7f8;
  --black-800: #242729;
  --black-900: #191b1d;
  --orange-100 : #fee3cf;


  /* text font */

  --inter-text : 'Inter', sans-serif;
  
  /* --dark-theme-body-background : #0B0E11;
  --dark-theme-text-color : #7B8480;
  --dark-theme-text-color : #1B1ED2;
  --dark-theme-header-background : #151A21; */
}

.main_page
{
  min-height: 100vh !important;
  width: 100%;
  background-color: var(--dark-theme-body-background);
}
.main_body
{
  padding : 0px 20px;
}

@media(max-width:770px){
  .main_body{padding: 0px 2px}
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');