.header_main_container
{
    background-color: var(--dark-theme-header-background);
    display : flex;
    width : 100%;
    flex-direction: row;
    align-items: center;
    padding : 20px 28px 20px 28px;
    position: fixed;
    top : 0;
}
.header_logo
{
    font-family: var(--inter-text);
    font-size: 1.2rem;
    letter-spacing: 0.040rem;
    letter-spacing: 0.030rem;
    text-transform: uppercase;
}
.header_logo a
{
    color : var(--blue-500);
    text-decoration: none;
}
.header_page_link_container ul
{
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
}
.header_page_link_container ul li
{
    align-items: center;
    padding : 0px 15px;
    list-style: none;
    font-weight: 500;
    font-family: var(--inter-text);
    color : var(--black-600);
    font-size: 1rem;
    letter-spacing: 0.035rem;
}
.header_page_link_container ul li a
{
    color : var(--black-400);
    text-decoration: none;
    transition: 0.4s all ease-in-out;
}
.header_page_link_container ul li a:focus
{
    text-decoration: none;
}
.header_page_link_container ul li a:hover
{
    color : var(--blue-500)
}
.header_page_authenticate_container
{
    display: flex;
    flex-direction: row;
    margin-left: auto;
}
.header_page_signin
{
    padding : 6px 15px;
    list-style: none;
    font-family: var(--inter-text);
    font-size: 1rem;
    border-radius: 20px;
    font-weight: 400;
    background-color: var(--blue-600);
    letter-spacing: 0.035rem;
    transition: 0.5s all ease-in-out;
}
.header_page_signin:hover
{
    background-color: var(--blue-700);
}
.header_page_signin a
{
    color : var(--dark-theme-text-white);
    text-decoration: none;
    transition: 0.4s all ease-in-out;
}
.header_page_signup
{
    display: flex;
    align-items: center;
    padding : 0px 15px;
    list-style: none;
    font-family: var(--inter-text);
    font-size: 1rem;
    letter-spacing: 0.030rem;
}
.header_page_signup a
{
    color : var(--black-400);
    text-decoration: none;
    font-weight: 500;
    transition: 0.4s all ease-in-out;
}
.header_page_signup a:hover
{
    color : var(--blue-500)
}
.header_page_username
{
    display: flex;
    align-items: center;
    padding : 0px 15px;
    list-style: none;
    font-family: var(--inter-text);
    font-size: 1rem;
    color : var(--black-200);
    font-weight: 500;
    letter-spacing: 0.035rem;
}
.header_page_signout
{
    padding : 6px 15px;
    list-style: none;
    font-family: var(--inter-text);
    font-size: .9rem;
    border-radius: 20px;
    font-weight: 400;
    background-color: var(--red-500);
    letter-spacing: 0.040rem;
    transition: 0.5s all ease-in-out;
}
.header_page_signout a
{
    color: var(--red-050);
    text-decoration: none;
}


/* mobile view header css */

.header_page_mobile
{
    display: none;
    margin-left: auto;
}
.header_page_hamburger
{
    display: flex;
    color : var(--black-025) !important;
    padding : 5px 6px;
    background-color: var(--blue-600);
    width: 35px;
    height : 35px;
    border-radius: 50%;
}
.header_page_mobile_container
{
    display: none;
    position: absolute;
    position: fixed;
    top : 0;
    left : 0;
    background-color: var(--black-900);
    width: 75%;
    height: 100vh;
    transition: all 0.5s ease-in-out;
    transform: translate(-80rem);
    z-index: 10000;
}
.header_page_mobile_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
    transition: 0.5s all ease-in-out;
}
.header_page_mobile_overlay.hidden {
    display : none;
}
.header_page_mobile_container.active
{
    transform : translate(0rem);
    padding : 20px 20px;
}
.header_page_mobile_close_icon
{
    display: flex !important;
    margin-left: auto !important;
    color : var(--dark-theme-text-dark-white) !important;
    font-size: 2rem !important;
    padding : 5px 6px;
    background-color: var(--blue-600);
    width: 35px;
    height : 35px;
    border-radius: 50%;
}
.header_page_mobile_list ul li
{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding : 15px 0px;
    color : var(--black-400);
} 
.header_page_mobile_list ul li a
{
    color : var(--black-400);
    font-weight: 500;
    letter-spacing: 0.040rem;
    font-family: var(--inter-text);
    text-decoration: none;
}
.header_page_mobile_auth_container
{
    display: flex;
}
.header_page_mobile_auth_container.user
{
    flex-direction: column;
}
.header_page_mobile_signin
{
    margin : 0px 5px;
    padding : 6px 15px;
    list-style: none;
    font-family: var(--inter-text);
    font-size: 1rem;
    width : 90px;
    letter-spacing: 0.040rem;
    border-radius: 20px;
    font-weight: 500;
    background-color: var(--blue-600);
    letter-spacing: 0.035rem;
    transition: 0.5s all ease-in-out;
}
.header_page_mobile_signin:hover
{
    background-color: var(--blue-700);
}
.header_page_mobile_signin a
{
    color : var(--dark-theme-text-white);
    text-decoration: none;
    transition: 0.4s all ease-in-out;
}
.header_page_mobile_signup
{
    display: flex;
    align-items: center;
    padding : 0px 30px;
    list-style: none;
    font-family: var(--inter-text);
    font-size: 1rem;
    letter-spacing: 0.030rem;
}
.header_page_mobile_signup a
{
    color : var(--black-400);
    text-decoration: none;
    font-weight: 500;
    transition: 0.4s all ease-in-out;
}
.header_page_mobile_signup a:hover
{
    color : var(--blue-500)
}
.header_page_mobile_username
{
    padding : 0px 31px;
    list-style: none;
    font-family: var(--inter-text);
    font-size: 1rem;
    color : var(--black-300);
    font-weight: 500;
    letter-spacing: 0.035rem;
}
.header_page_mobile_signout
{
    margin: 30px 25px;
    padding : 6px 15px;
    list-style: none;
    font-family: var(--inter-text);
    font-size: .9rem;
    border-radius: 20px;
    width: 90px;
    font-weight: 400;
    background-color: var(--red-500);
    letter-spacing: 0.035rem;
    transition: 0.5s all ease-in-out;
}
.header_page_mobile_signout a
{
    text-decoration: none;
    letter-spacing: 0.040rem;
    color : var(--red-050)
}

/* header dropdown */

.header_dropdown_container
{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    max-width: 300px;
}
.header_dropdown_title_container
{
    color: var(--dark-theme-header-background);
}
.header_dropdown_title
{
    padding : 0px 15px;
    font-weight: 500;
    font-family: var(--inter-text);
    color : var(--black-600);
    font-size: 1rem;
    letter-spacing: 0.035rem;
    transition: 0.5s all ease-in-out;
}
.header_dropdown_title.active
{
    color : var(--blue-400);
}
.header_dropdown_title.active::after{
    content: '\2212';
    padding : 0px 5px;
}
.header_dropdown_title::after
{
    content: '\002B';
    padding: 0px 5px;
}
.header_dropdown_title:hover
{
    color : var(--header-hover-color);
    cursor: pointer;
}
.header_manage_dropdown
{
    margin-top: 42px;
    margin-left: 15px;
    background-color: var(--header-background);
    max-height: 0px;
    position: absolute;
    width: 16%;
    overflow: hidden;
    transition: max-height 0.3s linear;
    font-family: 'Montserrat';
    letter-spacing: 0.5px;
    word-spacing: 2px;
    line-height: 190%;
    font-size: 13px;
    color: var(--header-link-color);
    z-index: 10000;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.header_dropdown_container ul 
{
    padding : 5px 10px;
    display: flex;
    flex-direction: column;
}
.header_dropdown_container ul li
{
    padding: 8px 0px;
}
.header_dropdown_container ul li a
{
    list-style: none;
    font-family: 'Montserrat';
    color: var(--header-link-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 0.860rem;
    letter-spacing: 0.030rem;
    transition: 0.5s all ease-in-out;
}
.header_dropdown_container ul li a:hover
{
    color : var(--header-hover-color);
}

@media(max-width:770px){
    .header_page_link_container ul{display: none;}
    .header_page_authenticate_container{display: none;}
    .header_page_mobile{display: block;}
    .header_page_mobile_container{display: block;}
    .header_main_container{padding : 20px 15px}
}