.hero_main
{
    width : 100%;
    margin-top: 65px;
    padding : 80px 0px;
}
.hero_top_head_section
{
    width: 100%;
    padding : 40px 0px 40px 0px;
}
.hero_top_title
{
    padding : 10px 0px;
    color: var(--dark-theme-text-white);
    font-family: var(--inter-text);
    font-size: 3.2rem;
    font-weight: 700;
    letter-spacing: 0.060rem;
}
.hero_top_info
{
    padding : 20px 0px;
    color: var(--dark-theme-text-grey);
    font-family: var(--inter-text);
    font-size: 1rem;
    font-weight: 500;
    line-height: 2.5rem;
    letter-spacing: 0.060rem;
}

/* home middle */

.hero_middle_section_container
{
    margin: 80px 0px;
}
.hero_middle_left_section
{
    margin : 50px 0px;
    text-align: center;
    background-color: var(--orange-100);
    padding: 25px;
    width : 100%;
    border-radius: 15px;
}
.hero_middle_left_para
{
    color: var(--black-900);
    font-family: var(--inter-text);
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.030rem;
}


/* home page topic data */

.hero_topic_container
{
    margin : 25px 0px;
}
.hero_topic_container a
{
    text-decoration: none;
}
.hero_topic_head_title
{
    padding : 10px 0px;
    color: var(--dark-theme-text-white);
    font-family: var(--inter-text);
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.060rem;
}
.hero_topic_card
{
    margin : 25px 0px;
    padding : 1rem;
    background-color: var(--black-900);
    border-radius: 10px;
    box-shadow: 0 10px 12px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
    transition: 0.5s all ease-in-out;
}
.hero_topic_card:hover
{
    cursor: pointer;
    background-color: var(--black-800);
    box-shadow: 0 10px 10px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
}
.hero_topic_heading
{
    padding : 20px 0px;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.020rem;
    font-weight: 500;
    color: var(--dark-theme-text-white);
}
.hero_topic_head_section
{
    padding: 10px 0px;
    display: flex;
    align-items: center;
}
.hero_topic_title
{
    font-size: 1.1rem;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.040rem;
    font-weight: 500;
    color: var(--dark-theme-text--dark-white);
}
.hero_topic_date
{
    margin-left: auto;
    font-size: 0.850rem;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.020rem;
    font-weight: 500;
    color: var(--dark-theme-text-grey);
}
.hero_topic_content
{
    padding : 15px 0px;
    font-size: 0.880rem;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.020rem;
    font-weight: 500;
    color: var(--dark-theme-text-light-grey);
}
.hero_topic_user_display
{
    padding : 15px 0px;
    display: flex;
}
.hero_topic_avatar_background
{
    background-color: var(--dark-theme-button);
    border-radius: 50%;
    width : 35px;
    height : 35px;
}
.hero_topic_user_avatar
{
    margin: 4px 5px 5px 5px;
    width : 10px;
    height: 10px;
    color : var(--text-black);
}
.hero_topic_username
{
    padding: 6px 0px 0px 12px;
    font-size: 0.870rem;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.040rem;
    font-weight: 500;
    color: var(--dark-theme-text-light-grey);
}

@media(max-width:770px){
    .hero_main{padding: 20px 0px;}
}