.instructor_main
{
    width : 100%;
    padding : 100px 20px 100px 20px;
}
.instructor_heading
{
    color: var(--text-black);
    font-family: 'Montserrat';
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.030rem;
}
.instructor_container
{
    margin: 20px 0px;
}

.instructor_button_display
{
    display: flex;
    margin: 15px 0px;
}
.instructor_update_btn
{
    border : none;
    width : 100%;
    margin : 20px 0px;
    border-radius: 5px;
    height : 45px;
    background-color: var(--text-blue);
    color : white;
    font-family: 'Montserrat';
    font-size: 0.880rem;
    font-weight: 500;
    letter-spacing: 0.040rem;
    transition: 0.5s all ease-in-out;
}
.instructor_update_btn:focus
{
    outline: none;
}
.instructor_update_btn:hover
{
    cursor: pointer;
    background-color: rgb(24, 112, 212);
    box-shadow : 0 4px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
}

.instructor_delete_btn
{
    border : none;
    width : 100%;
    margin : 20px 0px;
    border-radius: 5px;
    height : 45px;
    background-color: rgb(204, 33, 33);
    color : white;
    font-family: 'Montserrat';
    font-size: 0.880rem;
    font-weight: 500;
    letter-spacing: 0.040rem;
    transition: 0.5s all ease-in-out;
}
.instructor_delete_btn:focus
{
    outline: none;
}
.instructor_delete_btn:hover
{
    cursor: pointer;
    background-color: rgb(168, 27, 27);
    box-shadow : 0 4px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
}

@media(max-width:750px)
{
    .instructor_main{ padding : 100px 2px; }
}