.reply_box_container
{
    bottom : 0;
    width: 100%;
    padding : 15px 0px;
    position: fixed;
    z-index: 999999;
    transform: translateY(100%);
    transition: 0.5s all ease-in-out;
    background-color: var(--black-800);
}
.reply_box_container.show
{
    transform: translate(0rem);
}
.reply_box_head
{
    padding : 10px 0px;
    font-family: var(--inter-text);
    font-size: 0.900rem;
    font-weight: 500;
    color : var(--black-500);
    letter-spacing: 0.030rem;
}
.reply_box_name
{
    padding-left: 3px;
    color : var(--blue-500);
}
.reply_box_input_field
{
    margin : 20px 0px;
    padding : 0px 7px;
    height : 45px;
    width: 100%;
    border : none;
    border-radius: 6px;
    background-color: var(--black-700);
    border : 1px solid var(--black-700);
    color : var(--black-100);
    font-family: var(--inter-text);
    font-size: 0.830rem;
    font-weight: 500;
    letter-spacing: 0.030rem;
    transition: 0.5s all ease-in-out;
}
.reply_box_input_field:focus
{
    outline: none;
    border : 1px solid var(--blue-700);
}
.reply_box_input_field::placeholder
{
    color : var(--black-400);
    font-size: 0.800rem;
    font-weight: 500;
}
.reply_box_input_comment
{
    margin : 10px 0px;
    padding : 10px 7px;
    height : 110px;
    border : none;
    width: 100%;
    border-radius: 6px;
    background-color: var(--black-700);
    border : 1px solid var(--black-700);
    color : var(--black-100);
    font-family: var(--inter-text);
    font-size: 0.830rem;
    letter-spacing: 0.050rem;
    transition: 0.5s all ease-in-out;
}
.reply_box_input_comment:focus
{
    outline: none;
    border : 1px solid var(--blue-700);
}
.reply_box_input_comment::placeholder
{
    color : var(--black-400);
    font-size: 0.800rem;
    font-weight: 500;
}
.reply_box_btn_container
{
    display: flex;
    align-items: center;
    margin: 15px 0px;
    width: 100%;
}
.reply_box_reply_btn
{
    padding : 8px 15px;
    border : none;
    border-radius: 6px;
    font-family: var(--inter-text);
    font-size: 0.800rem;
    font-weight: 500;
    color : var(--dark-theme-text-dark-white);
    letter-spacing: 0.040rem;
    background-color: var(--blue-600);
    transition: 0.5s all ease-in-out;
}
.reply_box_reply_btn_loading
{
    padding : 8px 15px;
    border : none;
    border-radius: 6px;
    font-family: var(--inter-text);
    font-size: 0.800rem;
    font-weight: 500;
    color : var(--black-950);
    letter-spacing: 0.040rem;
    background-color: var(--blue-200);
    transition: 0.5s all ease-in-out;
}
.reply_box_reply_btn:hover
{
    cursor: pointer;
    background-color: var(--blue-500);
}
.reply_box_reply_btn:focus
{
    outline: none;
}
.reply_box_cancel_btn
{
    margin: 0px 0px 0px 15px;
    padding : 8px 15px;
    font-family: var(--inter-text);
    font-size: 0.850rem;
    font-weight: 500;
    color : var(--black-350);
    letter-spacing: 0.040rem;
    transition: 0.5s all ease-in-out;
}
.reply_box_cancel_btn:hover
{
    cursor: pointer;
    color: var(--red-400);
}
.reply_box_hide_btn
{
    margin-left: auto;
    font-family: var(--inter-text);
    font-size: 0.900rem;
    letter-spacing: 0.040rem;
    font-weight: 500;
    color: var(--black-400);
    cursor: pointer;
    transition: 0.5s all ease-in-out;
}
.reply_box_hide_btn:hover
{
    color: var(--text-grey);
}


@media(max-width:770px)
{
    .reply_box_container{padding : 15px 0px;}
}
