.topic_post_main_container
{
    width : 100%;
    padding : 100px 20px 10px 20px;
}
.topic_post_heading
{
    padding : 0px 0px 50px 0px;
    color: var(--dark-theme-text-white);
    font-family: var(--inter-text);
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.030rem;
}
.topic_post_container
{
    border : 1px solid var(--black-800);
    border-radius: 7px;
    background-color: var(--black-800);
    padding : 20px 0px;
    width: 100%;
    box-shadow: 0 10px 10px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
}
.topic_post_link_line
{
    margin-left: 30px;
    height : 70px;
    border-left: 2px solid var(--black-800);
}
.topic_post_user_profile
{
    margin-top: 4px;
    background-color: var(--blue-500);
    border-radius: 50%;
    width : 35px;
    height : 35px;
}

.topic_post_user_main_display
{
    /* display: flex; */
    width : 100%;
}
.topic_post_user_content_display
{
    display: flex;
    flex-direction: column;
    width : 100%;
    padding : 0px 40px;
}
.topic_post_user_content_display.show_relation
{
    border-left: 1px solid var(--black-700);
}
.topic_post_user_info_display
{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding: 9px 5px 5px 15px;
}
.topic_post_username
{
    padding : 0px 15px;
    color : var(--dark-theme-text-white);
    font-size: 1.1rem;
    font-family: var(--inter-text);
    letter-spacing: 0.040rem;
    font-weight: 500;
    transition: 0.5s all ease-in-out;
}
.topic_post_username:hover
{
    color : var(--blue-300);
    cursor: pointer;
}
.topic_post_user_answer
{
    padding : 10px 15px 0px 25px;
    color : var(--black-400);
    font-size: 0.940rem;
    font-family: var(--inter-text);
    letter-spacing: 0.030rem;
    line-height: 35px;
    font-weight: 500;
}
.topic_post_reply_container
{
    display: flex;
}
.topic_post_reply
{
    padding : 5px 25px 5px 10px;
    margin-left: auto;
    color : var(--blue-500);
    font-size: 0.800rem;
    font-family: var(--inter-text);
    letter-spacing: 0.020rem;
    font-weight: 500;
    transition: 0.5s all ease-in-out;
}
.topic_post_reply:hover
{
    color : var(--blue-300);
    cursor: pointer;
}

.topic_post_time
{
    padding : 0px 0px 0px 0px;
    color : var(--black-500);
    font-size: 0.750rem;
    font-family: var(--inter-text);
    letter-spacing: 0.020rem;
    font-weight: 500;
}

/* parent container */

.topic_post_parent_container
{
    width: 100%;
    margin: 10px 26px;
    padding : 10px 10px;
    /* border-radius: 6px; */
    color : var(--text-black);
    font-size: 0.800rem;
    font-family: var(--inter-text);
    letter-spacing: 0.020rem;
    font-weight: 500;
    border-left: 4px solid var(--black-500);
    /* background-color: var(--black-900); */
}

.topic_post_parent_user_info_display
{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.topic_post_parent_user_content_display
{
    display: flex;
    flex-direction: column;
    width : 100%;
    padding : 0px 1px;
}

.topic_post_parent_user_answer
{
    padding : 10px 15px 0px 15px;
    color : var(--black-400);
    font-size: 0.940rem;
    font-family: var(--inter-text);
    letter-spacing: 0.030rem;
    line-height: 35px;
    font-weight: 500;
}


/* Topic bottom create post btn */

.topic_post_bottom_container
{
    margin : 10px 20px 20px 20px !important;
    text-align: center !important;
}
.topic_post_bottom_btn
{
    float: left;
    margin : 13px 0px;
    padding : 8px 15px;
    border : none;
    border-radius: 6px;
    background-color : var(--blue-600);
    color : var(--dark-theme-text-white);
    font-size: 0.800rem;
    font-family: var(--inter-text);
    letter-spacing: 0.020rem;
    font-weight: 500;
    transition: 0.5s all ease-in-out;
}
.topic_post_bottom_btn:focus
{
    outline : none
}
.topic_post_bottom_btn:hover
{
    background-color: var(--blue-500);
}

.topic_post_bottom_btn.hide
{
    background-color: var(--blue-200);
    color : var(--black-900);
}


.topic_post_show_more_btn
{
    padding : 8px 10px;
    border : none;
    border-radius: 6px;
    background-color: var(--black-800);
    color : var(--black-300);
    font-size: 0.800rem;
    font-family: var(--inter-text);
    letter-spacing: 0.020rem;
    font-weight: 500;
    letter-spacing: 0.040rem;
    transition: 0.5s all ease-in-out;
}

.topic_post_pagination
{
    float: right;
    margin-top: 13px;
}

.topic_post_pagination ul li a
{
    background-color: var(--dark-theme-body-background) !important;
    border : none !important;
    font-size: 1.1rem !important;
}
.topic_post_pagination ul li a:hover
{
    background-color: var(--black-800) !important;
}
.topic_post_pagination ul li a:focus
{
    outline : none !important;
}

.topic_post_circular_loading
{
    margin-top: 10px !important;
    display: flex !important;
    margin-left: auto !important;
    margin-right: auto !important;
    color: var(--blue-500) !important;
    width : 30px !important;
    height: 30px !important;
}

.topic_error
{
    color : var(--red-400);
    padding : 10px;
    text-align: left;
}

/* rich text css */

.mui_root #mui-rte-root
{
    background-color: var(--black-800);
    border: 1px solid var(--black-700);
    margin : 0px 0px;
    border-radius: 7px !important;
    box-shadow: 0 10px 10px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%) !important;
}

.mui_btn .MuiIconButton-root
{
    color: var(--black-300);
}

.mui_active_btn .MuiIconButton_colorPrimary
{
    color : var(--blue-400);
}

.mui_text #mui-rte-editor
{
    padding : 10px 20px;
    color : var(--black-100);
    letter-spacing: 0.050rem;
    font-family: var(--inter-text);
    font-size: .950rem;
} 

.mui_initial_text .MUIRichTextEditor-placeHolder-10
{
    position: relative;
    padding : 10px 15px;
    color : var(--black-500);
    font-size: .9rem;
    letter-spacing: 0.050rem;
}

.mui_code .CodeBlock-root-16
{
    background-color: var(--black-700);
    color : var(--black-100);
}

.mui_code .CodeBlock-root-17
{
    background-color: var(--black-700);
    color : var(--black-100);
}

.mui_block_quote .Blockquote-root-16
{
    padding : 0px 10px !important;
    color : var(--black-300) !important;
    border-left: 4px solid var(--black-300) !important;
}

.mui_block_quote .Blockquote-root-17
{
    padding : 0px 10px !important;
    color : var(--black-300) !important;
    border-left: 4px solid var(--black-300) !important;
}

@media(max-width:750px)
{
    .topic_post_main_container{ padding : 100px 0px 10px 0px }
    .topic_post_user_info_display{ padding: 9px 0px 5px 5px; }
    .topic_post_user_profile{ font-size: 2.5rem !important; }
    .topic_post_heading{ text-align: left; }
    .topic_post_pagination{ float: left; }
    .topic_post_bottom_container{ margin: 10px 0px 20px 0px; }
    .topic_post_user_content_display{ padding : 0px 30px; }
    .topic_post_link_line{margin-left: 22px;}
}
