.topic_post_main_container
{
    width : 100%;
    padding : 100px 20px 100px 20px;
}
.topic_post_heading
{
    color: var(--text-black);
    font-family: 'Montserrat';
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.030rem;
}
.topic_post_container
{
    margin : 30px 0px;
    border-top: 1px solid rgb(223, 220, 220);
    border-bottom: 1px solid rgb(223, 220, 220);
    padding : 25px 0px;
}
.topic_post_user_profile
{
    font-size: 2rem !important;
}

.topic_post_user_main_display
{
    display: flex;
    width : 100%;
}
.topic_post_user_info_display
{
    display: flex;
    flex-direction: column;
    width : 100%;
    padding: 0px 0px 0px 15px;
}
.topic_post_username
{
    color : var(--text-black);
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.020rem;
    font-weight: 500;
}
.topic_post_user_answer
{
    padding : 15px 0px;
    color : var(--text-ligth-dark);
    font-size: 0.920rem;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.030rem;
    line-height: 35px;
    font-weight: 500;
}
.topic_post_reply_container
{
    display: flex;
}
.topic_post_reply
{
    padding : 15px 8px 5px 10px;
    margin-left: auto;
    color : var(--text-black);
    font-size: 0.800rem;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.020rem;
    font-weight: 500;
}
.topic_post_time
{
    padding : 15px 10px 5px 10px;
    color : var(--text-ligth-dark);
    font-size: 0.800rem;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.020rem;
    font-weight: 500;
}
.topic_post_parent_container
{
    width: 100%;
    margin: 15px 0px;
    padding : 15px 5px;
    border-radius: 6px;
    color : var(--text-black);
    font-size: 0.800rem;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.020rem;
    font-weight: 500;
    background-color: rgb(225, 226, 226);
}

@media(max-width:750px)
{
    .topic_post_main_container{ padding : 100px 2px }
    .topic_post_user_info_display{ padding : 0px 0px 0px 10px }
    .topic_post_user_profile{ font-size: 2.5rem !important; }
    .topic_post_heading{ text-align: left; }
}